<!--
<nav class="navbar navbar-dark bg-dark">
    <a href="/" class="navbar-brand">CRUD Mamalon</a>
</nav>
-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">CRUD MERN</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Inicio
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>
      <!--Checar esta wea-->
      <a href="<% include('body_sesion.ejs'); %>" class="btn btn-secondary my-2 my-lg-0">Boton que no hace nada pero algún día si</a>
    </div>
  </nav>