<head>
    <meta charset="utf-8">
    <title>2CM14</title>
    <!--Referencia a bootstrap-->
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <meta name = "author" content="Equipo 4"/>
    <meta name="copyrith" content="@2021 IA-RG">
    <meta name="keywords" content="Meh"/>
</head>