<!DOCTYPE html>
<html>
    <head>
        <!--Datos de charset, title y referencia a bootstrap-->
        <%- include('partials/head.ejs'); %>
    </head>
    <header>
        <!--Datos de la barra de navegacion-->
        <%- include('partials/header.ejs'); %>
    </header>
    <body>
        <!--Formularios, tablas y referencias-->
        <%- include('partials/body_sesion.ejs'); %>
    </body>
    <footer>
        <!--Datos de copyright-->
        <%- include('partials/footer.ejs'); %>
    </footer>
</html>